
html {
	padding: 0px;
}

.box {
	margin: auto;
	width: 648px;
	height: 648px;
	display: block;

	border: 4px solid #444;
	/*border-radius: 5%;*/

	background-color: #FFC;

}

.box-row {
	display: block;
	line-height: 0px;
	height: 80px;
	width: 640px;
}

.box-cell {
	display: inline-block;
	width: 80px;
	height: 80px;
}

.box-item-container {
	width: 80px;
	height: 80px;
}

.box-item {
	width: 70px;
	height: 70px;
	margin: 5px;
	border-radius: 20px;
	background-color: #888;

	top: 0px;
}



@keyframes anim-box-shift-left {
	from { transform: translate(80px,0); }
	to { transform: translate(0,0); }
}
.box-shift-left {
	animation-name: anim-box-shift-left;
	animation-duration: 0.5s;
}

@keyframes anim-box-shift-right {
	from { transform: translate(-80px,0); }
	to { transform: translate(0,0); }
}
.box-shift-right {
	animation-name: anim-box-shift-right;
	animation-duration: 0.5s;
}

@keyframes anim-box-shift-up {
	from { transform: translate(0,-80px); }
	to { transform: translate(0,0); }
}
.box-shift-up {
	animation-name: anim-box-shift-up;
	animation-duration: 0.5s;
}

@keyframes anim-box-shift-down {
	from { transform: translate(0,80px); }
	to { transform: translate(0,0); }
}
.box-shift-down {
	animation-name: anim-box-shift-down;
	animation-duration: 0.5s;
}







@keyframes anim-box-drop-80 {
	from { transform: translate(0,-80px); }
	to { transform: translate(0,0); }
}
.box-drop-80 {
	animation-name: anim-box-drop-80;
	animation-duration: 0.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-160 {
	from { transform: translate(0,-160px); }
	to { transform: translate(0,0); }
}
.box-drop-160 {
	animation-name: anim-box-drop-160;
	animation-duration: 1s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-240 {
	from { transform: translate(0,-240px); }
	to { transform: translate(0,0); }
}
.box-drop-240 {
	animation-name: anim-box-drop-240;
	animation-duration: 1.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-320 {
	from { transform: translate(0,-320px); }
	to { transform: translate(0,0); }
}
.box-drop-320 {
	animation-name: anim-box-drop-320;
	animation-duration: 2s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-400 {
	from { transform: translate(0,-400px); }
	to { transform: translate(0,0); }
}
.box-drop-400 {
	animation-name: anim-box-drop-400;
	animation-duration: 2.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-480 {
	from { transform: translate(0,-480px); }
	to { transform: translate(0,0); }
}
.box-drop-480 {
	animation-name: anim-box-drop-480;
	animation-duration: 2.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-560 {
	from { transform: translate(0,-560px); }
	to { transform: translate(0,0); }
}
.box-drop-560 {
	animation-name: anim-box-drop-560;
	animation-duration: 2.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}

@keyframes anim-box-drop-640 {
	from { transform: translate(0,-640px); }
	to { transform: translate(0,0); }
}
.box-drop-640 {
	animation-name: anim-box-drop-640;
	animation-duration: 2.5s;
	/*animation-iteration-count: infinite;*/
	/*animation-timing-function: linear;*/
}


.box-item-red {
	background-color: #F88;
}

.box-item-orange {
	background-color: #FC4;
}

.box-item-yellow {
	background-color: #EF6;
}

.box-item-green {
	background-color: #8F6;
}

.box-item-blue {
	background-color: #88F;
}

.box-item-purple {
	background-color: #D6F;
}


@keyframes anim-box-item-rainbow {
	0% { background-color: #F88; }
	18% { background-color: #FC4; }
	34% { background-color: #EF6; }
	50% { background-color: #8F6; }
	68% { background-color: #88F; }
	84% { background-color: #D6F; }
	100% { background-color: #F88; }
}

.box-item-rainbow {
	background-color: #D8F;
	animation-name: anim-box-item-rainbow;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	/*animation-timing-function: linear;*/
}

